{
  "plugins": ["dynamic-import-node"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-stage-0",
    "@babel/preset-flow",
    "@babel/preset-react"
  ]
}
